.conta {
  display: flex;
  /* justify-content: space-around; */
  /* margin-top: 20px; */
  height: 100vh;
  background-color: #ffffff;
  transition:all 0.3s ease;
}

.layout86 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  gap: 38px;

  position: absolute;
  max-width: 576px;
  height: 893.87px;
  left: 37px;
  top: 16px;
}

.frame85 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 45px;
  width: 528px;
  height: 179px;

  /*justify-content: center;*/
}

.frame81 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 0;
  gap: 12px;
  width: 215px;
  height: 50px;
}

.group2 {
  width: 51px;
  height: 45.07px;
}

.mercado {
  width: 145px;
  height: 50px;
  font-family: Playfair Display;
  font-style: italic;
  font-weight: 600;
  font-size: 37.52px;
  line-height: 50px;
  text-align: center;
  padding-top: 18px;
  color: #f44321;
}

.frame84 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 24px;
  width: 528px;
  height: 84px;
  margin-top: -10px;
}

.welcom {
  width: 528px;
  height: 41px;
  font-family: "Ramabhadra";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 76px;
  /*display: flex;
    align-items: center;*/
  text-align: center;
  color: #f44321;
}

.acess {
  width: 528px;
  height: 19px;
  font-family: "Plus Jakarta Sans";
  font-style: italic;
  font-weight: 600;
  font-size: 15.008px;
  line-height: 19px;
  text-align: center;
  color: rgba(0, 0, 0, 0.35);
}

.frame64 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 45.02px;
  width: 528px;
  height: 628.87px;
}

.frame63 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 48px;
  width: 528px;
  height: 459.85px;
}

.frame60 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0px;
  gap: 22.51px;
  width: 528px;
  height: 265.67px;
}

.frame55 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 11.26px;
  width: 528px;
  height: 215.16px;
}

.frame53 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 7.5px;
  width: 528px;
  height: 99.43px;
}

.lab1 {
  width: 528px;
  height: 30.95px;
  font-family: "Ramabhadra";
  font-style: normal;
  font-weight: 400;
  font-size: 18.76px;
  line-height: 36px;
  display: flex;
  align-items: center;
  color: #000000;
}

.group21 {
  width: 528px;
  height: 60.97px;
}

.input1 {
  width: 528px;
  height: 60.97px;
  left: 0px;
  top: 38.46px;
  background: #ffffff;
  border: 1.876px solid #d9d9d9;
  box-shadow: 1.876px 2.814px 1.876px 0.938px rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.3s ease;
  border-radius: 15.008px;
}
.input1:hover {
  box-shadow: 2.88px 2.88px 1.88px rgba(0, 0, 0, 0.6);
}

.frame54 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 7.5px;
  width: 528px;
  height: 104.47px;
}

.group22 {
  width: 528px;
  height: 60.97px;
}

.input2 {
  /*position: absolute;*/
  width: 528px;
  height: 60.97px;
  left: 0px;
  top: 43.5px;
  background: #ffffff;
  border: 1.876px solid #d9d9d9;
  box-shadow: 1.876px 2.814px 1.876px 0.938px rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.3s ease;
  border-radius: 15.008px;
}
.input2:hover {
  box-shadow: 1.876px 2.814px 1.876px 0.938px rgba(0, 0, 0, 0.6);
}

.eyeicon {
  /* position: relative;
  cursor: pointer;
  margin-top: -90px;
  margin-left: 485px; */
/* 
  position: relative;
  width: 5px;
  border: none;
  background-color: #ffffff;
  margin-top: -53px;
  margin-left: 480px; */
}

.label2 {
  margin: 0 0 0 -395px;
  font-size: 16px;
  font-weight: 700;
}

.passicon {
  /* position: relative; */
  width: 5px;
  border: none;
  background-color: #ffffff;
  margin-top: -53px;
  margin-left: 480px;
}

.group4 {
  width: 528px;
  height: 28px;
}

.frame59 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 277.65px;
  position: absolute;
  width: 528px;
  height: 28px;
  left: 0px;
  top: 237.67px;
}

.frame58 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 450px;
  margin-left: 30px;
  gap: 7.5px;
  width: 128.5px;
  height: 28px;
}

.rememberinp {
  box-sizing: border-box;
  width: 17px;
  height: 17px;
  border: 1px solid #c2c2c2;
}

.remembertex {
  width: 104px;
  height: 28px;
  font-family: "Ramabhadra";
  font-style: normal;
  font-weight: 400;
  font-size: 15.008px;
  line-height: 28px;
  color: #c2c2c2;
}

.forget {
  position: absolute;
  right: -20px;
  /* margin-right: 15px; */
  width: 123px;
  height: 28px;
  padding-top: 430px;
  font-family: "Ramabhadra";
  font-style: normal;
  font-weight: 400;
  font-size: 15.008px;
  line-height: 28px;
  text-decoration: none;
  color: #000000;
}

.frame62 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 22.51px;
  width: 528px;
  height: 146.18px;
}

.frame61 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9.38px;
  gap: 9.38px;
  width: 528px;
  height: 61.76px;
  background: #f44321;
  transition:all 0.3s ease;
  border-radius: 15.008px;
  cursor: pointer;
}
.frame61:hover{
    background-color: #ffffff;  
    border: solid 1px #f44321;
    /* transition: 0.3s ease;   */
}

.frame61:hover .signIn{
    color: #f44321;
}


.signIn{
width: 75px;
height: 43px;
font-family: "Ramabhadra";
font-style: normal;
font-weight: 400;
font-size: 22.512px;
line-height: 55px;
color: #ffffff;
}

.im {
  position: absolute;
  right: 0;
  width: 60%;
}

/* 
transform: translate(-50%, -50%); 
line-height: 55px;
*/

